*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 background: #000;
 color: aliceblue;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resultValue{
 font-size: 40px;
}
.mainBtn{
  display: flex;
  gap: 10px;
}
.btn{
  padding: 10px;
  border-radius: 20px;
  border-color: aliceblue;
  font-size: 26px;
  cursor: pointer;
}